@{
    ViewData["Title"] = "Inicio";
}

<!-- CONTENIDO -->
<div class="container mt-4">
    <h2 class="text-danger">Encuesta de Satisfacción</h2>

    <div class="card p-3 shadow">
        <h5>Califica el servicio</h5>

        <label>Desempeño del técnico</label>
        <select class="form-control mb-2">
            <option>1 - Muy deficiente</option>
            <option>2 - Deficiente</option>
            <option>3 - Moderado</option>
            <option>4 - Bueno</option>
            <option>5 - Excelente</option>
        </select>

        <label>Calidad del servicio</label>
        <select class="form-control mb-2">
            <option>1 - Muy deficiente</option>
            <option>2 - Deficiente</option>
            <option>3 - Moderado</option>
            <option>4 - Bueno</option>
            <option>5 - Excelente</option>
        </select>

        <textarea class="form-control mb-2" placeholder="Comentarios..."></textarea>

        <button class="btn btn-danger">Enviar encuesta</button>
    </div>
</div>