@{
    ViewData["Title"] = "Politica de privacidad";
}
<h1>@ViewData["Title"]</h1>

<p>Al iniciar sesión el sistema se compromete a asegurar la seguridad de su acceso he información como dirección y otros datos personales.</p>
